body{
    background-image: url("walt-disney-logo.webp");
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}

.tartalom {
    background-color: darkcyan;
    color:rgb(36, 29, 81);
    padding: 3.6vw;
    border: 1.2vw solid rgb(159,207,230);
    border-radius: 3.6vw;
    display: flow-root;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

h1{
    font-family: Papyrus, times new roman, serif;
    text-align: center;    
    font-size: 8.8vw;
}

h2{
    text-align: left;
    font-size: 3.3vw;
    font-family: times new roman, serif;
    font-style:oblique;
    margin-left: 2%;
}

#kep {
    float: right;
    margin-right: 2%;
    margin-left: 4%;
    margin-bottom: 4%;
    width:30vw;
}

button {
    background-color: rgb(36, 29, 81);
    color: rgb(159,207,230);
    padding: 3.3vw 3.6vw;    
    cursor: pointer;
    border-radius: 50%;
    border: 0.84vw solid rgb(159,207,230);
    margin-left: 8%;
    margin-bottom: 8%;
    width: 12vw;
    height: 12vw;
    box-sizing: border-box;
    display: flex;
}

button img {
  width: 100%;
  height: 100%;
}

div {
    font-size: 2.5vw;
    margin-left: 2%;
}